.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;      /* ocupa todo el ancho */
    background: #333; /* color de fondo */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}


