<div class="titulo">
    <h1>Jordan Escobar Soto</h1>
</div>


<div class="descripcion">
    <p>
        Ingeniero en Informática con experiencia en desarrollo de aplicaciones web con Java, C#,
         Angular y Spring Boot. Destacado por mi capacidad de trabajo en equipo, resolución de problemas y participación
         en proyectos QA. Busco aportar valor técnico y seguir creciendo en entornos desafiantes.
    </p>
</div>

    <div class="experiencia">
        <h2>Experiencia profesional</h2>
<br>
<ul>

    <li>

        <h3>Desarrollador</h3>
        <h4>Usercode</h4>
        <h5>2024 - 2025</h5>
        <ul>
            <li>Realicé tareas de desarrollo con tecnologías cómo Spring boot, Angular 7.4, Ms Sql Server.Realicé tareas de desarrollo con tecnologías cómo Spring boot, Angular 7.4, Ms Sql Server.
</li>
            <li>Me tocó tomar el rol de QA realizando pruebas funcionales y seguir los planes de prueba en varios sprint.</li>
            <li>Apoyé en el desarrollo de proyectos web con el lenguaje PHP y su framework laravel</li>
        </ul>

    </li>

    <li>
        <h3>Práctica Profesional</h3>
        <h4>Caja 18 de Septiembre</h4>
        <h5>2024</h5>
        <ul>
            <li>Desarrollo de módulos ulizando tecnologías como C# ASP.NET,
HTML CSS y Javascript.</li>
            <li>Creación de base de datos, tablas y procedimientos almacenados
con Microso SQL Server.</li>
            <li>Documentación de manual de usuarios y manuales técnicos de los
módulos desarrollados.</li>
            <li>Uso de Visual Studio.</li>
            <li>Uso de Microsoft Teams para la comunicación y reuniones.</li>
            <li></li>
        </ul>
        <p>Técnologías y herramientas: C#, Asp.Net, Html5, Css3, Bootstrap,
Javascript, Microso Sql Server, Visual Studio 2022, Microso Teams.</p>


    </li>


       <li>
        <h3>Desarrollador Junior</h3>
        <h4>Everis</h4>
        <h5>2021</h5>
        <ul>
            <li>Desarrollé soluciones en el área de Banca para un banco español
ulizando Java y un framework propietario basado en Spring
Framework.</li>
            <li>Implementé scripts ulizando Oracle como base de datos.</li>
            <li>Creé y probé servicios SOAP con SOAP UI.</li>
            <li>Gesoné el control de versiones mediante BitBucket.</li>
            <li>Realicé pruebas y documenté usando HPQC.</li>
            <li>Ulicé Jira y Teams para el registro de tareas y la comunicación
efecva.</li>
        </ul>
        <p>Técnologias y herramientas: Java, Proteo 3, Spring Framework, Oracle,
HTML5, CSS3, Javascript, Soap UI, HPQC, POSTMAN, GIT,BitBucket,
Jira, Microso Teams.</p>
    </li>
    <li>
        <h3>Pasante</h3>
        <h4>Servicio de vivienda y urbanismo de la región del Biobìo</h4>
        <h5>2019</h5>
            <ul>
                <li>Se realizó proceso de licitación y levantamiento de requerimientos.</li>
                <li>Modelamiento de bases de datos relacionales con MICROSOFT SQLSEVER.</li>
                <li>.Net para desarrollo de mantenedores backend y AngularJS para las
                    el desarrollo frontend empleando Visual Studio.</li>
                <li>Uso de Bitbucket para control de versiones.</li>
            </ul>

            <p>Técnologias y herramientas: C#, ASP.NET, .NET FRAMEWORK,
            MICROSOFT SQL SERVER, Visual Studio, Git, BitBucket, AngularJS.
            </p>
    </li>
 
</ul>

    </div>

    <div class="skills">
        <h2>Conocimientos</h2>
        <mat-chip-set aria-label="Dog selection">
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Java
  </mat-chip>
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    C#
  </mat-chip>
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Javascript
  </mat-chip>
</mat-chip-set>
<br>
        <mat-chip-set aria-label="Dog selection">
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    SQL Server
  </mat-chip>
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    MySQL
  </mat-chip>
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    PostgreSQL
  </mat-chip>
    <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Oracle
  </mat-chip>
</mat-chip-set>
<br>
        <mat-chip-set aria-label="Dog selection">
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    SpringBoot
  </mat-chip>
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    GIT
  </mat-chip>
  <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    POSTMAN
  </mat-chip>
    <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    HTML
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    CSS
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Angular Material
  </mat-chip>
</mat-chip-set>
<br>
<mat-chip-set>

      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Bootstrap
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Jira
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Monday
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    AdobeXD
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Katalon Studio
  </mat-chip>
      <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    Selenium
  </mat-chip>
        <mat-chip>
    <img
      matChipAvatar
      src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
      alt="Photo of a Shiba Inu"
    />
    LambdaTest
  </mat-chip>
</mat-chip-set>


        


        
    </div>

    <div class="formacion">
        <h2>Formacion profesional</h2>
        <ul>
            <li>Ingeniero en Informática</li>
            <li>Analista Programador Computacional</li>
        </ul>
        
    </div>
